<plugin name='dumbster' version='0.2' grailsVersion='2.0 &gt; *'>
  <author>Burt Beckwith</author>
  <authorEmail>beckwithb@vmware.com</authorEmail>
  <title>Dumbster Plugin</title>
  <description>Adds support for the Dumbster SMTP server for testing</description>
  <documentation>http://grails.org/plugin/dumbster</documentation>
  <type>DumbsterGrailsPlugin</type>
  <resources />
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='http://download.java.net/maven/2/' url='http://download.java.net/maven/2/' />
  </repositories>
  <dependencies>
    <runtime>
      <dependency group='javax.mail' name='mail' version='1.4.5' />
      <dependency group='dumbster' name='dumbster' version='1.6' />
    </runtime>
  </dependencies>
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>