<plugin name='searchable' version='0.6.6' grailsVersion='2.0 &gt; *'>
  <title>Searchable Plugin</title>
  <description>
Adds rich search functionality to Grails domain models.
Built on Compass (http://www.compass-project.org/) and Lucene (http://lucene.apache.org/)
This version is recommended for JDK 1.5+
</description>
  <documentation>http://grails.org/plugin/searchable</documentation>
  <type>SearchableGrailsPlugin</type>
  <resources>
    <resource>SearchableUrlMappings</resource>
    <resource>grails.plugin.searchable.SearchableController</resource>
    <resource>grails.plugin.searchable.SearchableService</resource>
  </resources>
</plugin>