<plugin name='graina-security' version='0.1' grailsVersion='2.3 &gt; *'>
  <author>Your name</author>
  <title>Graina Security Plugin</title>
  <description>Brief summary/description of the plugin.
</description>
  <documentation>http://grails.org/plugin/graina-security</documentation>
  <type>GrainaSecurityGrailsPlugin</type>
  <resources>
    <resource>com.grailsinaction.security.AccessControlFilters</resource>
    <resource>com.grailsinaction.security.LoginController</resource>
  </resources>
</plugin>