<plugin name='navigation' version='1.3.2' grailsVersion='1.2 &gt; *'>
  <author>Marc Palmer</author>
  <authorEmail>marc@grailsrocks.com</authorEmail>
  <title>Site Menu Navigation</title>
  <description>Tags for doing site navigation and menus by convention
</description>
  <documentation>http://grails.org/Navigation+Plugin</documentation>
  <resources>
    <resource>DataSource</resource>
    <resource>NavPluginResources</resource>
    <resource>UrlMappings</resource>
    <resource>NavigationService</resource>
    <resource>NavigationTagLib</resource>
  </resources>
  <dependencies>
    <plugin name='controllers' version='1.0 &gt; *' />
  </dependencies>
  <behavior />
</plugin>